@model IEnumerable<Data.Models.Address>

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h4 class="card-title">List of Addresss</h4>
    </div>
    <div class="card-body">
        <a class="btn btn-success" asp-controller="Address" asp-action="Create">
            Create New
        </a>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>District</th>
                        <th>City</th>
                        <th>Wards</th>
                        <th>Detailed Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.District)</td>
                                <td>@Html.DisplayFor(modelItem => item.City)</td>
                                <td>@Html.DisplayFor(modelItem => item.Wards)</td>
                                <td>@Html.DisplayFor(modelItem => item.Detailed_address)</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Address" asp-action="Edit" asp-route-id="@item.Id">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger" asp-controller="Address" asp-area="Admin" asp-action="Delete" asp-route-id="@item.Id">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center">
                                No Data.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
